#updateproduct{
    position: absolute;
    width: 82%;
    right: 0;
    top: 0;
    background-color: #0B2744;
    padding: 5%;
    font-family: "Poppins";
    height: 100%;
}

#updateproduct .addnewproduct-form{
    background-color: rgba(69, 69, 69, 0.495);
    font-family: "Poppins";
    padding: 4%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#updateproduct .addnewproduct-form form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#updateproduct .addnewproduct-form form .firstline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#updateproduct .addnewproduct-form form input{
    background-color: rgba(69, 69, 69, 0.495);
    outline: none;
    border: 1px solid transparent;
    color: white;
    font-family: "Poppins";
    padding: 10px 20px;
    border-radius:5px ;
    width: 100%;
}

#updateproduct .addnewproduct-form form .firstline label{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#updateproduct .addnewproduct-form form .secondline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#updateproduct .addnewproduct-form form .secondline label{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#updateproduct .addnewproduct-form form .thirdline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#updateproduct .addnewproduct-form form .thirdline label{
    width: 204px;
}

#updateproduct .addnewproduct-form form .thirdline select{
    background-color: rgba(69, 69, 69, 0.495);
    outline: none;
    border: 1px solid transparent;
    color: white;
    font-family: "Poppins";
    padding: 10px 0px;
    border-radius:5px ;
    width: 100%;
}

#updateproduct .addnewproduct-form form .create-product{
    background-color: rgba(69, 69, 69, 0.495);
    font-family: "Poppins";
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#updateproduct .addnewproduct-form form .lastline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#updateproduct .addnewproduct-form form .lastline .select-radio{
    display: flex;
    flex-direction: column;
}

#updateproduct .addnewproduct-form form .lastline .select-radio .select-label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#updateproduct .addnewproduct-form form .lastline .select-radio .select-label label{
    display: flex;
}